#Book {
    background-image: url("../../images/bg_wood.jpg");
    background-position: center;
    background-size: cover;
    overflow: hidden;
}


/* Form */
#Book .col-md-6:first-child .item {
    background-image: url("../../images/chef-bg.png");
    background-position: center;
    background-size: cover;
    width: 75%;
    padding: 30px 40px;
    margin: auto;
    border-radius: 10px;
    background-color: #333;

}

#Book .item label {
    background-color: white;
    border: none;
}

#Book .item h2 {
    color: var(--bs-warning);
}

#Book .item .form-control {
    border: none;
    padding: 8px 12px;
}

#Book .item .form-control:focus {
    box-shadow: none;
}

#Book .item textarea {
    resize: none;
    height: 250px;
}

/* Button */
#Book .item button {
    background-color: transparent;
    border: 2px solid var(--bs-warning);
    color: var(--bs-warning);
    letter-spacing: 1.5px;
    font-weight: 500;
    padding: 8px 24px;
    position: relative;
    overflow: hidden;
}

#Book .item button::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--bs-warning);
    position: absolute;
    top: 0;
    left: -100%;
    transition: 1s;

}

#Book .item button:hover::before {
    left: 0;
}

#Book .item button:hover {
    color: #fff;
}

/* Delivery man */
#Book .man {
    display: flex;
    justify-content: center;
    align-items: center;
}

#Book .man img {
    animation: bike 3s linear infinite;
    opacity: 0;
}